<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Bike Race URL shortener</title>
  </head>
  <body>
    <h1>
      Bike Race URL shortener
    </h1>
    <div id='content'>
      <form accept-charset="UTF-8" action="/" method="post">
        <div class='field'>
          <label for="url">URL</label> <input id="url" name="url" size="100" type="url">
        </div>
        <div class='field'>
          <label for="code">Code</label> <input id="code" name="code" size="30" type="text">
        </div><input class="button" id="submit" name="commit" type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
